html {
  background: url("mta.jpg") no-repeat;
  background-color: rgba(62, 45, 53, .5);
  background-size: cover;
}

body {
  width: 940px;
  box-sizing: border-box;
  padding: 1em;
  margin: 0 auto;
  background-color: rgba(171, 133, 104, .7);
  font-family: 'Cutive Mono', serif;
  font-size: 2em;
  font-weight: bold;
}

h1, h2 {
  font-family: 'Sancreek', cursive;
  text-align: center;
}

.theRoute{
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  margin-left: 20%;
}

select {
  font-size: .7em;
}

.theRoute input {
  text-decoration: none;
  color: rgba(171, 133, 104, 1);
  background-color: rgba(92, 68, 64, 1);
  border-radius: 4px;
  font-size: .7em;
  padding: .5em;
  box-shadow: 0 0 1em #3E2D35;
}

input {
  margin-left: 80%;
}