<!doctype html>

<html lang="en">
  <head>
    <title>Movie Info Site</title>
    <link rel="stylesheet" href="/style.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="js/movie.js"></script>

  </head>

  <body>
    <%= yield %>
    <p></p>
  </body>
