<!doctype html>

<html lang="en">
  <head>
    <title>find a movie</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
  <h1> Movie World</h1>
    <%= yield %>
    <p></p>

    <footer>
      &copy; Copyright 2013
     </footer>
  </body>
</html>