<h1>New Ocean</h1>

<form method="post" action="/oceans">
  <label>Ocean's Name:</label><input type="text" name="ocean[name]" autofocus>
  <label>Area in square meters:</label><input type="text" name="ocean[area]">
  <label>Average Depth in meters:</label><input type="text" name="ocean[avg_depth]">
  <label>Greatest Depth in meters:</label><input type="text" name="ocean[max_depth]">
  <label>Deepest Place:</label><input type="text" name="ocean[deepest_place]">
  <label>Image URL:</label><input type="text" name="ocean[image]">

  <div class="button"><button>Create an Ocean</button></div>
</form>

