<form method="post" action="<%= ocean_path(@ocean.id) %>">
  <p>Name: <input type="text" name="ocean[name]" value="<%= @ocean.name %>" autofocus></p>
  <p>Size: <input type="text" name="ocean[area]" value="<%= @ocean.area %>"></p>
  <p>Average Depth: <input type="text" name="ocean[mean_depth]" value="<%= @ocean.mean_depth %>"></p>
  <button>Edit Ocean</button>
</form>