<form method="post" action="/oceans">
  <p>Name: <input type="text" name="ocean[name]" autofocus></p>
  <p>Size: <input type="text" name="ocean[area]"></p>
  <p>Average Depth: <input type="text" name="ocean[mean_depth]"></p>
  <button>Create Ocean</button>
</form>