<form method="post" action="/oceans">
  <p>Name: <input type="text" name="ocean[name]" autofocus></p>
  <p>Average Depth: <input type="text" name="ocean[avg_depth]"></p>
  <button>Ocean me prawn!</button>
</form>