<option disabled>Select a Genre</option>
<option selected>General</option>
<option>Cats</option>
<option>Dogs</option>
<option>Babies</option>
<option>Music</option>
<option>News</option>
<option>Weird</option>
<option>Funny</option>
<option>Educational</option>