<form method="get" action="/movies/genre/:genre">
  <select name="genre">
    <%= erb :genre_menu %>
  </select>
  <input type="submit" value="Filter Results">
</form>
<!--
make a list instead of a drop down

<a href = "/movies......./cats">Cates</a>

<#% @genres.each do |genre| %>

  <a href = "...<#%=genre['name'] %>"



-->
