<!doctype html>
<html>
  <head>
    <title>Meme Tube</title>
    <link rel="stylesheet" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Cherry+Swash:700' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/videos/new">New Videos</a></li>
      </ul>
    </nav>

    <h1>Meme Tube</h1>
    <%= yield %>
  </body>
</html>
