<h1>Pick a game</h1>
<div><a href="/games/magic">Magic 8 Ball</a></div>
<div><a href="/games/secret">Secret Number</a></div>
<div><a href="/games/rock_paper_scissors_play">Rock Paper Scissors</a></div>