<form method="GET" action="/games/magic_question">
  <label for="question">Enter a question for the magic 8 ball</label>
  <input name="question" placeholder="question">
  <input type="submit" value="Ask Magic 8 Ball">
</form>