<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Butterflies</title>
    <link rel="stylesheet" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/butterflies/new'>New Butterfly</a></li>
<!--         <li><a href='/butterflies'>Butterflies</a></li>
 -->
        <% @nav_rows.each do |row| %>
          <li><a href='/butterflies/family/<%= row['family'] %>'><%= row['family'] %></a></li>
        <% end %>

      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
