<p>Rock Papers Scissors</p>
<p>Please choose one of the following:</p>
  <ul>
    <li><a href="/rock_paper_scissors/rock">Throw rock</a></li>
    <li><a href="/rock_paper_scissors/paper">Throw paper</a></li>
    <li><a href="/rock_paper_scissors/scissors">Throw scissors</a></li>
  </ul>