<p>Secret Number</p>
<p>Can you guess the number?</p>
<ul>
  <li><a href="/secret_number/1">1</a></li>
  <li><a href="/secret_number/2">2</a></li>
  <li><a href="/secret_number/3">3</a></li>
  <li><a href="/secret_number/4">4</a></li>
  <li><a href="/secret_number/5">5</a></li>
  <li><a href="/secret_number/6">6</a></li>
  <li><a href="/secret_number/7">7</a></li>
  <li><a href="/secret_number/8">8</a></li>
  <li><a href="/secret_number/9">9</a></li>
  <li><a href="/secret_number/10">10</a></li>
</ul>