
<div class="new">
  <h2> Add New Blog Post <h2>
  <form method="post" action="/create">
  <p><label for="title">title:</label>
  <input name="title" maxlength='50' placeholder="Title.."></p>


  <p><textarea name="body" placeholder="Dull us with your words.."></textarea></p>


  <p class="button"><input type="submit" value="Publish"></p>
</form>
</div>