
<div class="new">
  <h2> Add New Blog Post <h2>
    <form method="post" action="/update">
    <p><label for="title">title:</label>
    <input name="title" maxlength='50' value="<%=@post["title"]%>"></p>


    <p><textarea name="body"><%=@post["body"]%></textarea></p>


    <p class="button"><input type="submit" value="Publish"></p>

    <input type="hidden" name="id" value="<%= @post['id'] %>">

  </form>
</div>
