<h1>Magic 8 Ball</h1>
<p>Ask me a question and I will share my knowledge...</p>

  <form method ='get' action='magic_8_ball/q'>
    <input type="text" name="q">
    <input type="submit" value="Submit">
  </form>
