/*--------------------------------
              BODY
--------------------------------*/
body {
  background: url('http://tws3d.com/wallpapers/specs-light-1366x768.jpg');
  background-position: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #101085;
  font-family: 'Cherry Swash', cursive;
}



/*--------------------------------
              NAV
--------------------------------*/
nav {
  border-bottom: 6px solid #101085;
  background-color: rgba(224, 224, 224, .3);
  margin-top: -10px;
  padding-top: 13px;
}

nav ul {
  list-style: none;
  color: #101085;

}

nav ul li {
  display: inline;
  margin: 0 1em;
  color: #101085;

}

/*--------------------------------
              HEADERS
--------------------------------*/
h1 {
  font-size: 4em;

}

h2 {
  font-size: 2em;
}

h3 {

}

/*--------------------------------
              FORM
--------------------------------*/
input[type="submit"] {
  background-color: rgba(36, 96, 166, 1);
  color: #101085;
  height: 2em;
  width: 8em;
  font-family: 'Cherry Swash', cursive;
  font-size: 1.5em;
  display: block;
  margin: auto;

}

select {
  height: 2em;
  width: 12em;
  font-size: 1.5em;
  font-family: 'Cherry Swash', cursive;
  color: #101085;
  margin-bottom: .5em;
}

input {
/*  background-color: rgba(36, 96, 166, 1); */
  color: #101085;
  height: 1.2em;
  width: 15em;
  font-family: 'Cherry Swash', cursive;
  font-size: 1em;

}

textarea {
/*  background-color: rgba(36, 96, 166, 1); */
  color: #101085;
  height: 7em;
  width: 20em;
  font-family: 'Cherry Swash', cursive;
  font-size: 1em;
  margin-bottom: 2em;

}
/*--------------------------------
              LISTS & LINKS
--------------------------------*/
li {
  list-style-type: none;
  color: #101085;
  font-size: 1.5em;

}

a {
  color: #101085;
  text-decoration: none;
  font-size: 1.5em;

}

a:visited {
  color:#330066;
}


a:hover {
  color:#CC0000;
}


label {
  font-size: 1.5em;
  display: block;
  margin-top: 1em;
}

/*--------------------------------
              VIDEO
--------------------------------*/
iframe {
  height: 80%;
  width: 70%;
}

.video {
  height: 500px;
  width: 900px;
}
















