*, html, body {
	padding:0;
	margin:0;
}

.container {
	width:800px;
	background:#ccc;
	margin:10px;
	padding:5px;
}

.box {
	width:100px;
	height:100px;
	background:aqua;
	padding:10px;
	margin:10px;
	border:1px solid black;
}

.relative-container {
	position:relative;
	width:800px;
	height:100px;
	background:#efefef;
	margin:10px;
	padding:5px;
}

