<div class="form">
  <form method="post" action="/create">

    <label for="name">Name:</label>
    <input name="name" maxlength='50' placeholder="Name..">

    <label for="picture">Picture URL</label>
    <textarea name="picture" placeholder="Place picture URL here.."></textarea>

    <label for="dob"> Year of Birth</label>
    <input name="dob" placeholder="ex. '1650'">

    <button type="submit" value="Add"></button>

  </form>
</div>