<div class="form">
  <form method="post" action="/create">

    <label for="title">Title:</label>
    <input name="title" maxlength='50' placeholder="Title..">

    <label for="image">Picture URL</label>
    <textarea name="image" placeholder="Place picture URL here.."></textarea>

    <label for="year"> Year of Creation/Completion</label>
    <input name="year" placeholder="ex. '1650'">

    <button type="submit" value="Add"></button>

  </form>
</div>