nav {
  border-bottom: 1px solid black;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline;
  margin: 0 1em;
}

div ul {
  list-style: none;
}

div ul li {
  color: ;
}

div ul li iframe {
  margin-bottom: 20px;
  margin-top: 3px;
  line-height: 17px
}

b {
  font-size: 24px;
}

div {
  background-color:;
}

