<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All New Movie Lookup</title>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="js/movies.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="container">
      <h1>The Movie Lookup</h1>
      <%= yield %>
    </div>
</body>
</html>