<h2> Add new Mountain to Database </h2>

<form method="post" action="/create">
  <p>Name: <input type="text" name="mountain[name]" autofocus></p>
  <p>Image: <input type="text" name="mountain[image]"></p>
  <p>Height: <input type="text" name="mountain[height]"></p>
  <p>Location: <input type="text" name="mountain[location]"></p>

  <button>Add</button>
</form>