<form method="post" action="/">

 Select your starting station
<select name="starting_point" multiple>
    <option disabled>N LINE</option>
    <option>Times Square</option>
    <option>34th</option>
    <option>28th</option>
    <option>23rd</option>
    <option></option>
    <option>23rd</option>


  </select>

  Select your destination station?
  <select name="end_point" multiple>
    <option disabled></option>
    <option>Times</option>
    <option>Harpo</option>
    <option>Chico</option>
  </select>


</form>