<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>A showcase of street art</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>Street Art Gallery</h1>

      <p>This is a guide to some of the world's best street art. In some cases the artist is not known. If you know any of the artists responsible for the works in question, please update the website.</p>

      <p>You are welcome to upload examples of brilliant street art!</p>

      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/artists'>Artists</a></li>
          <li><a href='/artworks'>Artworks</a></li>
          <li><a href='/artists/new'>New Artist</a></li>
          <li><a href='/artworks/new'>New Artwork</a></li>
        </ul>
      </nav>

      <%= yield %>
  </body>
</html>
