<h1> Here are your Results </h1>

<div class='main'><ul>
  <% @rows.each do |row| %>
  <li><a href="/butterflies/<%=row['id']%>"><%= row['name']%> </a> </li>
  <li><img src="<%=row['picture']%>"></li>
  <% end %>
</ul></div>