
<h2> Add New Butterfly <h2>

<form method="post" action="/create">
  <label for="name">Name:</label>
  <input name="name" placeholder="Common Name">

  <label for="latin">Latin Name:</label>
  <input name="latin" placeholder="Latin Name">

  <label for="family">Butterfly's Family:</label>
  <input name="family" placeholder="Your butterfly's family here">

  <label for="picture">Photo URL</label>
  <textarea name="picture" placeholder="Your picture URL here"></textarea>


  <input type="submit" value="Create">
</form>
