<p>this is the guess the number page </p>

<ul>
  <li><a href="/randomnumber_answer/1">Guess 1</a></li>
  <li><a href="/randomnumber_answer/2">Guess 2</a></li>
  <li><a href="/randomnumber_answer/3">Guess 3</a></li>
  <li><a href="/randomnumber_answer/4">Guess 4</a></li>
  <li><a href="/randomnumber_answer/5">Guess 5</a></li>
  <li><a href="/randomnumber_answer/6">Guess 6</a></li>
  <li><a href="/randomnumber_answer/7">Guess 7</a></li>
  <li><a href="/randomnumber_answer/8">Guess 8</a></li>
  <li><a href="/randomnumber_answer/9">Guess 9</a></li>
</ul>