<p>this is the rock paper scissors page </p>

<form action='/rockpaperscissors_answer' method="get">
  <select name="user_selection">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <input type="submit" value="Shoot">
</form>