<form method="post" action="/mountains">
  <p>Name: <input type="text" name="mountain[name]" autofocus></p>
  <p>height: <input type="text" name="mountain[height]"></p>
  <p>location: <input type="text" name="mountain[location]"></p>
  <p>Image: <input type="text" name="mountain[image]"></p>
  <button>Add Mountain</button>
</form>