<div class="videoIndex">
  <h2>Videos available</h2>
  <!--list all the videos returned from the db select -->
  <ul>
    <!--loop through each video returned in the select -->
    <% @videos.each do |video| %>
      <!-- build a list of links to each video returned from the query -->
      <li><a href="/videos/<%= video['id'] %>"><%= video['title'] %></a></li>
    <% end %>
  </ul>
</div><!-- videoIndex -->
<br />
<!--Filter by GENRE -->
<div class="filter">
  <h3>Filter by Genre</h3>
  <ul>
    <li><a href="/">All</a></li>
    <% @genres.each do |genre| %>
      <li><a href="/genre/<%= "#{genre.gsub(' ','+')}" %>"><%= "#{genre}" %></a></li>
    <% end %>
  </ul>
</div><!--filter-->


