<ol>
  <% @ingredients.each do |ingredient| %>
  <li>
    <ul>
      <li><%= link_to ingredient.name, ingredient_path(ingredient.id) %></li>
      <li><%= ingredient.measurement %></li>
      <li><%= ingredient.cost %></li>
      <li><%= image_tag ingredient.image %></li>
    </ul>
  </li>
<% end %>
</ol>
