<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Blog</title>
    <link rel="stylesheet" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/posts/new'>New Blog</a></li>
        </ul>
      </nav>
      <h1>Blog Title</h1>
    </header>
    <%= yield %>
  </body>
</html>
