<!doctype html>

<html lang="en">
  <head>
    <title>MTA</title>
    <link rel="stylesheet" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="main">
      <header>
        <img src="http://www.longisland.com/site_media/images/article/subarticle_image/MTA_Logo_1_png_300x300_q85.jpg">
      </header>

      <article>
        <h1>MTA Journey Planner</h1>
        <h2>To find your route, please enter your journey information below:</h2>

        <%= yield %>
      </article>
    </div>

    <footer>
      &copy; Copyright 2013
    </footer>

  </body>
</html>
