
    <option disabled>N Line:</option>
    <option value="Nts">Times Square</option>
    <option value="N34">34th</option>
    <option value="N28">28th</option>
    <option value="N23">23rd</option>
    <option value="Aus">Union Square</option>
    <option disabled>L Line:</option>
    <option value="L08">8th</option>
    <option value="L06">6th</option>
    <option value="Aus">Union Square</option>
    <option value="L03">3rd</option>
    <option value="L01">1st</option>
    <option disabled>6th Line:</option>
    <option value="Sgs">Grand Central</option>
    <option value="S33">33rd</option>
    <option value="S28">28th</option>
    <option value="S23">23rd</option>
    <option value="Aus">Union Square</option>
    <option value="Sap">Astor Place</option>
