<h1>Magic 8 Ball</h1>

<p>Ask a question below and the Magic 8 Ball will answer</p>

<form method='get' action='/magic_8_ball_redirect'>
  <input type='text' name='question' autofocus>
  <input type='submit' value="Submit">

</form>

