<h1>Rock Paper Scissors</h1>

<p>Let's Battle!</p>

<p>Choose your weapon:</p>
  <div class='rps'>
    <ul>
      <li><%= link_to 'rock', '/rock_paper_scissors/rock' %></li>
      <li><%= link_to 'paper', '/rock_paper_scissors/paper' %></li>
      <li><%= link_to 'scissors', '/rock_paper_scissors/scissors' %></li>
    </ul>
  </div>
