<!doctype html>

<html>
  <head>
    <title> Memetube </title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

    <nav>
      <ul>
        <li><b> Memetube </b></li>
        <li><a href="/"> Home</a></li>
        <li><a href="/videos/new">Add New Video</a></li>
        <li><a href="/videos/search/:genre"> Search by Genre</a></li>
      </ul>
    </nav>

    <%= yield %>

  </body>

<!-- <form method="get" action="/videos/search/:genre">
       <select>
        <#% @videos.each do |video| %>
        <option> <#%= video['genre'] %> </option>
        <#% end %>
       </select>
      <input type="submit" value="Seach by Genre">
     </form> -->

</html>