<h2> Enter your new video details </h2>

<form method="post" action="/videos/create">
  <label for="name">Name:</label>
  <input name="name" placeholder="Your Video name here">

  <label for="description">Description:</label>
  <textarea name="description"></textarea>

  <label for="embed">Embed URL:</label>
  <textarea name="embed" placeholder="Your video URL here"></textarea>

  <label for="genre">Genre</label>
  <input name="genre" placeholder="Your Video genre here">


  <input type="submit" value="Create">

</form>