<form action="/movies" method="get">
  <input name="movie_name" placeholder="Enter Movie Name">

  <input type="submit" value="Get Info!">
</form>



<!-- <h2>Enter a new Movie</h2>

<form method='post' action='<%= @row.nil? ? "/create" : "/movies/#{@row['id']}/update" %>'>

  <label>Title:</label><input value='<%= @row['title'] if @row %>' type='text' name='name' autofocus>

  <button><%= @row.nil? ? "New Movie" : "Edit Movie"  %></button>

</form> -->