<!doctype html>

<html lang="en">
  <head>
    <title>Search for any Movie!</title>
    <link rel="stylesheet" href="/style.css"></link>
  </head>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/previous">Previous Searches</a></li>
    </ul>
  </nav>

  <body>
    <h1>Movie Info Lookup</h1>

    <%= yield %>

    <footer>
    </footer>
  </body>

</html>
