<!doctype html>
<html>
  <head>
    <title>Welcome to MemeTube!</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div id="container">
      <h1 class="phark">Meme Tube</h1>
       <nav>
          <ul>
            <li="item"><a href="/">Home</a></li>
            <li="item"><a href="/movies/new">Upload</a></li>
          </ul>
        </nav>
      <%= yield %>
    </div>
  </body>

</html>
