<h2>Upload a funny video!</h2>

<section class="upload">
  <form method="post" action="/movies/create">
    <label for="title">Name:</label>
    <input name="title" placeholder="Your movie title here">

    <label for="description">Description:</label>
    <textarea name="description"></textarea>

    <label for="url">URL:</label>
    <textarea name="url" placeholder="www..."></textarea>

    <label for="genre">Genre:</label>
    <textarea name="genre"></textarea>

    <input type="submit" value="Upload!">
  </form>
</section>